.laptopSearch {
    // .col-sm-3{
    //     font-size: 14px;
    // }
    .col-sm-8{
        text-align: end;
        position: relative;
        .mainFilterButton
        {
            border: solid 1px #FF7129;
            background-color: #FF7129;
            color: #ffffff;
            padding: 4px 13px;
        }
        .mainFilterButton:focus {
            outline: none;
        }
        span.badge1 {
            position: absolute;
            left: 97%;
            top: -1px;
            padding: 2px 7px;
            background-color: lawngreen;
            border-radius: 51%;
            color: brown;
            font-weight: bold;
            font-size: 11px;
        }
    }
    .col-sm-1{
        .fa-window-close-o{
            color: red;
        }
    }
    #resultCountMobileOnly{
        display: none;
    }
    input#searchBox:focus {
        outline: solid 1px green;
    }
    button.clearFilter {
        /* width: 50% !important; */
        background-color: lawngreen;
        border: none;
        height: 100%;
    }
    background-color: bisque;
    padding: 8px 0px;
    margin: 0px !important;
    // display: flex;
    text-align: center;
    .addLaptops {
        button{
            padding: 4px 27px;
            background-color: #FF7129;
            color: #ffffff;
            border: solid 1px #FF7129;
            float: left;
        }
        button:focus {
            outline: none;
        }
    }
    .search{
       .searchBox{
            padding: 1% 20% 1% 1%;
            border-radius: 0px;
            border: solid 1px;
            width: 33rem;
        }
       .searchButton{
            border: solid 1px #FF7129;
            background-color: #FF7129;
            color: #ffffff;
            padding: 1% 5%;
       }
       .searchButton:focus {
            outline: none;
        }
    }
    
   
    .moreFilter{
        .css-1jllj6i-control{
            display: none;
        }
        .css-1vr111p-option {
            min-width: 221px;
            text-align: initial;
        }
        p{
            margin: 2px;
        }
        .moreFilterButton{
            border: solid 2px #ffffff;
            background-color: #FF7129;
            color: #ffffff;
            padding: 1% 5%;
        }
        div#collapseExample {
            z-index: 9999;
            box-shadow: 6px 1px 6px 3px rebeccapurple;
            width: inherit;
            position: fixed;
            background-color: antiquewhite;
            left: 0%;
            padding: 0.6% 2%;
            margin-top: -40px;
            .search{
                text-align: left;
                font-size: 14px;
            }
        }
        .moreFilterButton:focus {
            outline: none;
        }
    }
}



@media only screen and (max-width: 768px) {
    .laptopSearch {
        flex-wrap: initial !important;
        span.badge1 {
            // left: 57%;
            left: calc(40vw - (/* width */140px / 2)) !important;
        }
        .moreFilter
         {
            .moreFilterButton {
                width: 8rem;
            }
         }
         #resultCountMobileOnly{
             display: block;
         }
         div#collapseExample {
            p{
                position: absolute;
                background-color: #FF7129;
                width: 99vw;
                padding: 1% 16%;
                margin-top: 0px !important;
                color: #ffffff;
                font-size: 12px;
                left: 0%;
            }
            width: 100vw !important;
            position: absolute !important;
            background-color: antiquewhite;
            // left: 1%;
            // padding: 0.6% 2%;
            margin-top: -40px;
            // top: calc(33vh - (/* height */100px / 2));
            // left: calc(19vw - (/* width */140px / 2)) !important;
            .row{
                flex-wrap: wrap-reverse;
                margin: 0px;
                .search{
                    text-align: center;
                }
             }
        }
         div#collapseExample{
            padding: 2% 3% 3% 3% !important;
             
         }
         .search .searchBox {
            width: 13rem;
        }
    }
}

.laptops{
    margin: 1% 1%;
    display: flex;
    #dekstopOnlySideBar{
        width: 16%;
    }
    .noResultFoundText {
        text-align: center;
        font-style: italic;
        color: #FF7129;
    }
    #mobileTable{
        display: none;
    }
    .table-hover tbody tr:hover {
        color: rebeccapurple !important;
        background-color: lightgreen !important;
        opacity: 0.8 !important;
    }
    .table{
        width: 85%;
        font-size: 15px;
        border-bottom: solid 1px black;
        .actionIcons{
            display: inline-flex;
            flex-wrap: wrap;
            padding: 0px;
            gap: 24px;
            p{
                font-size: 10px;
            }
        }
    }
    thead {
        background-color: #2F2F2B;
        color: #FF7129;
    }
    tbody {
        color: #2F2F2B;
    }
    .table-hover tbody tr:hover {
        color: #ffffff;
        background-color:#FF7129;
        opacity: 0.6;
    }
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    tbody {
        display: block;
        max-height: 100vh - 28vh;
        overflow-y: scroll;
      }
    tbody::-webkit-scrollbar {
        width: 12px;
    }
     
    // tbody::-webkit-scrollbar-track {
    //     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    //     border-radius: 0px;
    // }
     
    tbody::-webkit-scrollbar-thumb {
        border-radius: 0px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
      
}

@media only screen and (max-width: 768px) {
    .laptops {
        // b.noResultFoundText {
        //     margin: 0%;
        //     color: #FF7129;
        //     font-style: italic;
        // }
        #dekstopOnlySideBar{
            display: none;
        }
        hr{
            background-color: #FF7129;
            margin: 3% 0%;
            height: 1px;
        }
        margin: 2% 0% !important;
        table.table.table-hover {
            tbody {
                overflow-y: auto;
                color: black;
            }
            border: none;
            margin-bottom: 0%;
            font-size: 12px;
            th, td {
                padding: 2%;
            }
        }
        .table th, .table td {
            border: 1px solid #dee2e6;
        }
        #dekstopTable{
            display: none;
        }
        #mobileTable{
            display: block;
        }
    }
}

.modal-dialog{
    max-width: 60% !important;
    // #addLaptopActionButtonsDekstop{

    // }
    #addLaptopActionButtonsMobile{
        display: none;
    }
    #mobileLabelOnly{
        display: none;
    }
    .modal-content {
        border-radius: 0px;
        border: 0px !important;
        color: #ffffff;
        background-color: #FF7129;
        border-radius: 0px;
        font-size: 14px !important;
        .col-md-3{
            text-align: center;
            background-color: #2F2F2B;
            padding: 3%;
            color: #FF7129;
            .buttonsModal{
                display: grid;
                position: absolute;
                bottom: 9%;
                width: 75%;
                button {
                    margin: 1% 0px;
                }
                button.btn.btn-secondary {
                    background-color: #FF7129;
                    color: #ffffff;
                    border: solid 1px;
                    border-radius: 0px;
                }
                button.btn.btn-primary {
                    background-color: #2F2F2B;
                    border-radius: 0px;
                    border: solid 1px #ffffff;
                }
                button:focus {
                    box-shadow: none;
                }
            }
        }
        .col-md-9{
            padding: 3%;
            .errorMessage{
                background-color: #ffffff;
                text-align: center;
                color: #FF7129;
                font-weight: bold;
            }
            label{
                display: block;
            }
            .radio{
                display: inline-block;
                margin-right: 12%;
                input{
                    margin-right: 6px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .fade.modal.show {
        padding-left: 0px;
    }
    .modal-dialog{
        margin: 0px !important;
        #addLaptopActionButtonsDekstop{
            display: none;
        }
        #mobileLabelOnly{
            display: block;
        }
        #addLaptopActionButtonsMobile{
            display: block;
        }
        max-width: inherit !important;
        .modal-content{
            .row{
                margin: 0px;
            }
            .col-md-9{
                h4{
                    background-color: bisque;
                    padding: 5%;
                    text-align: center;
                    color: #FF7129;
                }
            }
            .col-md-3 .buttonsModal {
                position: initial;
                width: auto;
                padding: 0% 11%;
            }
        }
    }
}

//latopDetails

.latopDetails{
    .closeDetails{
        background-color: purple;
        border-radius: 0px;
        color: #ffffff;
        width: 10%;
        float: right;
        margin: 1% 3%;
    }
    .closeDetails:hover {
        color: #ffffff;
    }
    .laptopBrandName {
        background-color: #FF7129;
        padding: 5%;
    }
    .moreDetails{
        background-color: bisque;
        padding: 3% 6%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .oneItem{
            width: 16rem;
            label{
                color: rebeccapurple;
                font-size: 12px;
                margin: 0px !important;
            }
            p{
                font-size: 15px;
                color: #FF7129;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .latopDetails .closeDetails {
        width: initial;
        padding: 1% 20%;
        float: none;
        margin: 2% 6rem;
    }
}

div#deleteLaptopModal {
    width: 36%;
    top: 17%;
    .modal-content {
        padding: 3%;
        h5{
            text-align: center;
        }
        .buttonsModal {
            display: inline-grid;
            button{
                margin: 1% 25%;
            }
            button.btn.btn-secondary {
                background-color: inherit;
                color: #ffffff;
                border: solid 1px #ffffff;
                border-radius: 0px;
            }
            button.btn.btn-primary {
                background-color: purple;
                color: #ffffff;
                border: none;
                border-radius: 0px;
            }
        }
    }
    /* margin: 5%; */
}

@media only screen and (max-width: 768px) {
    div#deleteLaptopModal {
        width: inherit !important;
        top: 17%;
    }
}
.toast.show {
    position: fixed;
    top: calc(33vh - (/* height */100px / 2));
    left: calc(43vw - (/* width */140px / 2));
    display: block;
    opacity: 1;
    color: purple;
    font-size: 18px;
}

