#dataLoader{
    .modal-content{
        background-color: inherit !important;
        border: none !important;
        transform: translate(-50%, -50%);
        // position: fixed !important;
        // top: 50%;
        // left: 50%;
        width: 0% !important;
        top: calc(33vh - (/* height */100px / 2));
        left: calc(32vw - (/* width */140px / 2));
    }
}

.toast.show {
    position: fixed;
    top: calc(33vh - (/* height */100px / 2));
    left: calc(43vw - (/* width */140px / 2));
    // transform: translate(-50%, -50%);
    z-index: 999;
    // width: 21%;
    backdrop-filter: none
}

// @media only screen and (max-width: 768px) {
//     .modal-content{
//         width: 0% !important;
//         top: calc(42vh - (/* height */100px / 2));
//         left: calc(61vw - (/* width */140px / 2));
//     }
//   }

// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : portrait) {
//     .toast.show {
//         // width: 58%;
//         top: 25%
//     }
// }




