div#signInModal {
    width: 24%;
    .modal-content{
        border-radius: 6px !important;
        .modal-header{
            background-color: #5C0E2F;
            color: #ffffff;
            padding: 3% 4% !important;
            border-bottom: none;
            .close{
                opacity: 1;
                line-height: 1;
                color: #ffffff;
            }
            button.close:focus {
                outline: none;
            }
        }
        .modal-body{
            .errorMessage{
                background-color: #ffffff;
                text-align: center;
                color: red;
                font-weight: bold;
            }
            .regSuccessMsg{
                text-align: center;
                margin: 0px;
                padding: 0% 0%;
                // background-color: #5C0E2F;
                color: #5C0E2F;
                font-weight: bold;
            }
            form{
                button.btn {
                    background-color: #5C0E2F;
                    border-radius: 0px;
                    color: #ffffff;
                }
                .text-center{
                    a{
                        color: #5C0E2F;
                        font-weight: bold;
                    }
                }
                .text-right{
                    a{
                        color: #5C0E2F;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    div#signInModal {
        width: 100%;
        padding: 18% 7%;
    }
}


#loginSuccessModal{
    width: 33%;
    top: 6rem;
    .modal-header {
        .modal-title{
            font-size: 1rem;
        }
        padding: 2%;
        background-color: #5C0E2F;
        border-radius: 0px;
        border-bottom: 0px;
        button.close {
            color: white;
            opacity: 1;
        }
        button.close:focus {
            outline: none;
        }
    }
    .modal-body{
        p{
            // font-weight: bold;
            font-size: 14px;
            text-align: center;
        } 
    }
}

@media only screen and (max-width: 768px) {
    #loginSuccessModal{
        width: 100%;
        padding: 10%
    }
}