div#signInModal {
    width: 24%;
    .modal-content{
        border-radius: 6px !important;
        .modal-header{
            background-color: #2F2F2B;
            color: #ffffff;
            padding: 3% 4% !important;
            border-bottom: none;
            .close{
                opacity: 1;
                line-height: 1;
                color: #ffffff;
            }
            button.close:focus {
                outline: none;
            }
        }
        .modal-body{
            .regSuccessMsg{
                text-align: center;
                margin: 0px;
                padding: 0% 0%;
                background-color: #2F2F2B;
                color: red;
            }
            form{
                button.btn {
                    background-color: #2F2F2B;
                    border-radius: 0px;
                    color: #ffffff;
                }
                .text-center{
                    a{
                        color: #2F2F2B;
                        font-weight: bold;
                    }
                }
                .text-right{
                    a{
                        color: #2F2F2B;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    div#signInModal {
        width: 100%;
        padding: 18% 7%;
    }
}
